{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block main %}
<div class="jumbotron">
  <div class="container">
    <h1>Weather Forecast</h1>
    <div id="forecasts">
      {% for city, forecasts in data.items() %}
          <p id="city">{{ city }}</p>

          <div class="card-deck">
            {% for forecast in forecasts %}
              <div class="card">
                <p>{{ forecast[1] }}, {{ forecast[0] }}</p>
                                
                {% if forecast[4] > 50 %}
                  <p> Rainy Day </p>
                  <br>
                  <!-- <p><img src="{{ url_for('static', filename='rain.png') }}"/></p> -->
                  <br>
                {% else %}
                  <p> Sunny Day </p>
                  <br>
                  <!-- <p><img src="{{ url_for('static', filename='sun.png') }}"/></p> -->
                  <br>
                {% endif %}
                
                

                <p> {{ forecast[3] }} % chance of</p>
                <p> {{ forecast[4] }} mm</p>
                <p>{{ forecast[2] }}</p>
                <br>

                <p>Lowest: {{ forecast[5] }}°</p>
                <p>Highest: {{ forecast[6] }}°</p>
              </div>
            {% endfor %}
          </div>

      {% endfor %}
    </div>

    <!-- Email History  -->

  </div>
</div>
{% endblock %}

{% block js %}
<script>
  //src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8">
  
  /* To regularly check if forecasts are out of date */
  // function getForecast(){
  //   $.get('/api/forecast', function(data){
  //   // jQuery.get('/api/forecast', function(data){
  //       for (const[city,forecasts] of Object.entries(data)) {
  //         document.getElementById("city").innerHTML =  city;

  //         for (forecast in forecasts){
  //           document.getElementById("forecast").innerHTML = forecast;
  //         }
  //       }
  //     });
  //   };

  //   function updateAsNeeded(){
  //     var sys_date = new Date();
  //     var first_fore_date = {{ data['Kingston'][0][0]|tojson|safe }}; 
  //     //console.log(fore_data['Kingston'][0][0])
  //     if (sys_date = ( (new Date(first_fore_date)).getTime() ) +1){
  //       getForecast();
  //       //send emails
  //     }
  //   }

  //   window.onload = function(e) {
  //     setInterval(updateAsNeeded, 10000);

  //     // const today = new Date()

  //     // var tmrw = new Date()
  //     // tmrw.setDate(today.getDate() + 1)
  //     // tmrw.setHours(0,0,0,0) // midnight

  //     // var timeDiff = today.getTime() - tmrw.getTime()
  //     // console.log(today.getTime())
  //     // console.log(tmrw.getTime())
  //     // console.log(timeDiff)
  //   }
    


</script> 
{% endblock %}

